.loginCont{
    width: 350px;
    height: 400px;
    margin-top: 25px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header h1{
    font-size:1.5rem;
    font-weight:600;
}
.up{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    flex: 0.5;
    background: linear-gradient(120deg,#367BE1,#5453C8);
}
.down{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    flex: 0.5;
    background-color: whitesmoke;
}

.mainBox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 260px;
    height: 280px;
    border-radius: 10px;
    padding: 5px;
    margin: 10px auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.mainBox h2{
   font-weight: 500;
   font-size: 1.3rem;
}
.inputBox{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}
.inputBox input{
    border: 0;
    outline: none;
    border-bottom: 1px solid #5453C8;
    padding: 5px 10px;
    font-size: 1rem;
    width: 200px;
    margin: 5px 0;
}
.loginBtn {
    background: linear-gradient(-45deg, #3f00b5, #9f69fe, #27c8b7, #3f00b5);
    background-size: 800% 400%;
    display: inline-block;
    border: none;
    padding: 8px;
    width: 220px;
    margin-top: 15px;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 700;
    color: white;
    cursor: pointer;
    transition: all .5s ease-in-out;
    animation: gradient 10s infinite cubic-bezier(.62, .28, .23, .99) both;
   }
   
   .loginBtn:hover {
    animation: gradient 3s infinite;
    transform: scale(1.05);
   }
   
   .loginBtn:active {
    animation: gradient 3s infinite;
    transform: scale(0.8);
   }
   
   @keyframes gradient {
    0% {
     background-position: 0% 50%;
    }
   
    50% {
     background-position: 100% 50%;
    }
   
    100% {
     background-position: 0% 50%;
    }
   }